# Space savers
obsr/java-linux-x86/*
obsr/java-linux-x64/man/*
obsr/webapps/obs/download/*
obsr/webapps/obs/liveUpdate/*
obsr/conf/*.original
res/check/FbdX*
res/check/LinX86
res/check/SosX*
res/check/WinX*
res/check/ShowV7Usage.bat

# Instance specific
obsr/logs/*
obsr/work/*
obsr/temp/*
obsr/tomcat/logs/*
obsr/tomcat/temp/*
obsr/tomcat/work/*
obsr/system/ads/*

# Security related
nginx/certs/*
!nginx/certs/lebshama
!nginx/certs/dhparam1024.pem

.git
