# Space savers
obsr/java-linux-x86/*
obsr/webapps/obs/download/*
obsr/webapps/obs/liveUpdate/*

# Instance specific
obsr/logs/*
obsr/work/*
obsr/temp/*
obsr/tomcat/logs/*
obsr/tomcat/temp/*
obsr/tomcat/work/*

.git
